<!DOCTYPE html>
<html>
  <head>
    <title>MadLib</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h3 class="jumbotron">The @Model.Adjective @Model.Noun</h3>
    <p>One day, the @Model.Adjective @Model.Noun left their house.</p>
    <p>They @Model.Verb all the way to the @Model.Location.</p>
    <p>When @Model.Noun arrived they exclaimed "@Model.Exclamation!"</p>
    <p>All of the @Model.PluralNoun @Model.VerbReaction and said"@Model.Name, really?"</p>
    <p>Then they all ate @Model.Food together.</p>
    <form action="/madlibtwo">
      <button type="submit">Try again!</button>
    </form>

  </body>
</html>